/******************
    CONNEXION 
    LOGIN + REGISTER
******************/

.message {
   margin-top: 0.6em;
}

.registerlink {
   color: var(--red);
   cursor: pointer;
}

.registerlink:hover {
   text-decoration: underline;
}
