/******************
   STYLE OF FORMS
******************/

.title {
   color: black;
   font-size: var(--titlesmallscreen);
   font-weight: 300;
}

.title,
.subtitle {
   text-align: left;
}

.subtitle:last-of-type {
   font-style: italic;
   font-weight: 300;
}

.inputcontainer {
   margin: 0.5em 0 0 0;
}

.input,
.textarea {
   border: 1px solid var(--lightgray);
}

.input,
.textarea,
.inputError {
   box-sizing: border-box;
   width: 100%;
   border-radius: 5px;

   margin: 0.4em auto;
}

.input,
.inputError {
   height: 2.5em;
   padding: 0em 0.8em;
}

.inputError {
   border: 1px solid var(--red);
}

.textarea {
   padding: 0.5em 0.8em;
   line-height: 1.4em;
   resize: none;
}

.checkboxcontainer {
   display: inline;
   align-items: center;
   justify-content: left;
}

.label {
   font-weight: 300;
   margin-right: 0.5em;
}

.message {
   margin-top: 0.6em;
}

.registerlink {
   color: var(--red);
   cursor: pointer;
}

.registerlink:hover {
   text-decoration: underline;
}

.error {
   color: red;
   font-size: 0.7em;
   font-style: italic;
}

/* RADIO BUTTON */

.radioContainer {
   display: inline-block;
}

.radioInput {
   display: none;
}

.radioContainer > .radioLabel,
.labelChecked {
   padding: 0.4em 1em;
   box-sizing: border-box;
   border-radius: 5px;
   cursor: pointer;
   margin-right: 0.8em;
}

.radioContainer > .radioLabel {
   background-color: rgba(185, 185, 185, 0.3);
}
.radioContainer > .labelChecked {
   background-color: var(--red);
   color: white;
}

/******************
    MEDIA QUERIES
******************/

/** Medium screen **/

@media screen and (min-width: 768px) and (max-width: 1024px) {
   .title {
      font-size: var(--titlemediumscreen);
   }
   .input {
      margin: 0.8em auto;
   }
}

/** Large screen **/

@media screen and (min-width: 1024px) {
   .title {
      font-size: var(--titlelargescreen);
   }
   .input {
      margin: 1em auto;
   }
}
