/****************
    HEADER
****************/

.container {
    height : 7em;
    padding: 1.5em 2em;
    display: grid;
    grid-template-columns: max-content auto;
    background-color: white;
    position : fixed;
    width: 100%;
    box-shadow: 0px 0.5px 10px #B9B9B9;
    top : 0;
}

.header--opacity {
    filter: grayscale(0.5);
}

.burgermenu {
    width: 100%;
    color : #F23005;
    font-size: 1.5em;
    font-size: 2em;
}

.burgericone {
    font-size: 1em;
    margin-top: 10px;
}

.logocontainer {
    margin-left: auto;
    margin-right: auto;
}

.logo {
    width : 15em;
    text-align: center;
}