/****************
    SEARCH BOX
****************/

.container {
    border: 1px solid var(--black);
    padding: 2em 2em 0 2em;
    margin-bottom: 4em;
}

.searchBar, .searchInput {
    width: 100%;
    box-sizing: border-box;
    border-radius : 5px;
    border: 1px solid var(--lightgray);
    
    padding : 0em 0.8em;
}

.searchBar {
    height : 2em;
}

.searchInput {
    height: 100%;
}

.additionalSearch {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1em;
    margin-top: 1em;
    /* justify-content: space-between; */
  /*   margin: 0; */
}

.btnContainer {
    text-align: center;
}

.btn {
    background-color : var(--red);
    transform: translateY(1em);
    color : var(--white);
    width : max-content;
    border: none;
    font-size : 1.02em;
    padding : 0.7em 2.3em;
    border-radius : 20px;
    margin : 1.3em 0 0 0;
    cursor: pointer;
}