/****************
    VARIABLES
****************/

:root {
    /* Colors */
    --white: #ffffff;
    --lightgray: #b9b9b9;
    --purpledark: #4f5880;
    --purplelight: #5271ff;
    --yellow: #ffcd38;
    --red: #f23005;
    --grey: #d9d9d9;
    --black: black;

    --titlesmallscreen: 1.4em;
    --titlemediumscreen: 1.8em;
    --titlelargescreen: 2.2em;
}
