/******************
        ADCARD
******************/

.container {
   display: block;
}

.adTitle {
   font-size: 2em;
   color: var(--red);
}

.buttons {
   display: flex;
   justify-content: space-between;
   align-items: center;
   width: 100%;
}

.favoriteContainer {
   height: 100%;
   margin: 1em 0 0 0;
   text-align: right;
}

.sectionTitle {
   color: var(--red);
   font-size: 1.2em;
   text-transform: uppercase;
   padding: 0.5em 0em;
}

.adDescription {
   line-height: 1.4em;
   font-weight: 300;
}

.detailsContainer {
   display: flex;
}

.detailsPart {
   display: grid;
   grid-template-columns: 50% 50%;
}

.detailsTitle {
   font-weight: 500;
   padding-right: 0.5em;
}

.detailsText {
   font-weight: 300;
}
